* {
    background-color: lightcyan;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

.hide {
    display: none;
}

.score {
    float: left;
}
.time {
    float: right;
}

header {
    padding-bottom: 40px;
}

header a {
    color: purple;
}

body {
    text-align: center;
}

input[type=text] {
    background-color: white;
    color: purple;
  }

button {
    background-color: purple;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

